.botonContacto {
    background-color: var(--tema-verde);
    min-width: 14rem;
    height: 4.125rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    border-radius: 10px;
    display: flex;
    color: white; 

    
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--tema-naranja);
    }
}