html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --tema-azul: #2e7a84;
  --tema-blanco: #ffffff;
  --tema-naranja: #e94c1f;
  --tema-amarillo: #fece17;
  --tema-negro: #444242;
  --tema-verde: #4bbecd;
}

.texto-naranja {
  color: var(--tema-naranja);
}

.texto-blanco {
  color: var(--tema-blanco);
}

.texto-verde {
  color: var(--tema-azul);
}

.texto-amarillo {
  color: var(--tema-amarillo);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

@media (max-width: 575.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 4rem;
  color: #fece17;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 4rem;
  color: #fece17;
}

.banner-top {
  margin-bottom: 10rem;
}
