html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --tema-azul: #2e7a84;
  --tema-blanco: #ffffff;
  --tema-naranja: #e94c1f;
  --tema-amarillo: #fece17;
  --tema-negro: #444242;
  --tema-verde: #4bbecd;
  --tema-celeste: #4bbecd;

  --texto-color: #212529;

  --radius: 15px;
}

.texto-naranja {
  color: var(--tema-naranja);
}

.texto-blanco {
  color: var(--tema-blanco);
}

.texto-verde {
  color: var(--tema-azul);
}

.texto-amarillo {
  color: var(--tema-amarillo);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

@media (max-width: 575.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    visibility: hidden;
  }
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 4rem;
  color: #fece17;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 4rem;
  color: #fece17;
}

.banner-top {
  margin-bottom: 10rem;
}

.imagen-between-text{
  width: 100% !important;
  height: 20em;
  display: block;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2em 0;
}
.imagen-between-text>*{
  width: 100% !important;
  height: 100%;
}
.imagen-between-text img{
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .imagen-between-text{
    height: 15em;
  }
}
